APP_ENV=local
HTTP_PORT=8080
DATABASE_URL=postgres://admin:adminpassword@localhost:5432/url_shortener?sslmode=disable
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0
APP_BASE_URL=http://localhost:8080
SHORT_CODE_LENGTH=7
SHORT_URL_CACHE_TTL=24h
SHORT_URL_NEGATIVE_CACHE_TTL=1m
CLICK_STREAM_NAME=url_clicks
CLICK_STREAM_GROUP=url_click_workers
CLICK_STREAM_CONSUMER=worker-1
CLICK_STREAM_BATCH_SIZE=50
CLICK_STREAM_BLOCK_TIME=5s
